.auth-container {
    max-width: 300px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input , select{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-container button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background-color: darkblue;
  }
  
  .auth-container p {
    margin-top: 1rem;
  }
  
  .auth-container a {
    color: blue;
    text-decoration: none;
  }
  