body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
    justify-content: center;
}
.app {
  padding:20px;
    min-width: 310px;
    max-width: 800px;
    width: 100%;
    padding-bottom: 100px;
}
a{
  text-decoration: inherit;
  color: inherit;
}
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .active {
  font-weight: bold;
}

.auth-container {
  max-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container h2 {
  margin-bottom: 1rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: darkblue;
}
.listings{
  padding: 12px;
  
}
.listing{
  display: flex;
  margin-top: 10px;
}
.listing .listing-cover{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.384);
}
.listig-details{
  padding:0 10px ;
  position: relative;

}
.listig-details p, .listig-details h2{
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.listig-details small{
  color: gray;
}

.listig-details .loc{
  font-size: 14px;
  color: rgb(53, 49, 250);
}
.top-bar{
  position: sticky;
  top: 0;
  font-size: 25px;
  padding: 12px;
  background-color: #fff;
  text-align: right;
  z-index: 100;
  display: flex;
}
.profile-user{
  display: flex;
  gap: 10px;
}
.profile-user .user-img{
  font-size: 50px;
}
.profile-user p{
  position: relative;
  font-weight: 600    ;
  
  font-size: 16px;
}